
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

img{
  max-width: 100%;
}

.row{
  margin: 15px -15px;
}

h3{
  color: #a52323;
}

.info{
  font-size: 13px;
  color: #428864;
  font-weight: bold;
}
.grey-info{
  color: gray;
  font-size: 13px;
}
span.grey-info{
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 1px;
  background: grey;
  color: #fff;
}
span.mtv_news{
  background: #fff400;
  color: #000;
}
span.bleacher_report{
  background: #000;
  color: #fff;
}
span.news_am{
  background: #e90606;
  color: #fff;
}
p{
  color: #6f6767;
  font-size: 15px;
}

.single-news{
  padding: 15px;
}

.page-title{
  background: #8d8d9e;
  padding: 15px;
  color: #fff;
  margin-top: 20px;
}
.single-news{
  box-shadow: 0px 0px 11px 1px #dcd8d8;
}
.single-news:nth-child(2n+1){
  background: #fff;
}

.pagination{
  justify-content: center;
}

.page-link,
.page-link:hover{
  color: #798a82;
}
.btn-info {
  color: #fff;
}
.article-content{
  white-space: pre-line;
}
.article-content img{
  width: 150px;
  height: auto;
}
.page-item.active .page-link{
  background-color: #798a82;
  border-color: #798a82;
}

.no-padd{
  padding: 0;
}

.iframe-wrapper{
  padding-top: 56%;
  position: relative;
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}
video{
  max-width: 100%;
}
input[name=search]{
  width: 200px;
  border: 1px solid #d0c8c8;
  border-radius: 5px;
  padding: 3px;
  color: gray;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type=submit]{
  background: white;
  border: 1px solid #d0c8c8;
  color: #a1a1a1;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #79bd20;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
}



.overlay{
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  background: #4f578070;
  height: 100%;
  color: #fff;
  font-size: 50px;
  text-align: center;
  padding-top: 15%;
  cursor: pointer;
}
.video{
  margin-bottom: 25px;
}
.video p{
  padding: 4px 10px;
  font-weight: bold;
  background: #fff;
  box-shadow: 0px 0px 6px 0px #a7a1a1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.video video{
  position: absolute;
  left: 15px;
  width: calc(100% - 30px);
  top: 0;
  display: none;
}

input[type=text]{
  padding: 3px 10px;
  min-width: 300px;
}